<div class = "booyah-box col-10 offset-1">
  <h1>Add a Place</h1><hr>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name, label: "Name of Place", required: false %>
    <%= f.input :address, label: "Address of Place",required: false %>
    <%= f.input :description, label: "What's this place like?", required: false%>
    <br>
    <%= f.submit 'Create' , class: 'btn btn-primary' %>
  <% end %>
</div>
